@model int
@{
    ViewData["Title"] = "Confirmação de Exclusão";
}
<body>
    <br />
    <br />
    <div class="text-center">
        <h3>Realmente deseja Excluir o usuário de código @Model?</h3>
    </div>
    <br />
    <div class="text-center">
        <a class="btn btn-outline-primary btn-block" role="button" asp-controller="Usuario" asp-action="Index">Cancelar Exclusão</a>
        <a class="btn btn-outline-danger btn-block" role="button" asp-route-id="@Model" asp-controller="Usuario" asp-action="Excluir">Confirmar Exclusão</a>
    </div>
</body>
